body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 100%
}

#mapid {
    height: 50vh;
    width: 100%;
    left: 0;
}

#content {
    width: 50%;
    margin: auto;
}

div#header {
    padding: 12px 0px 12px 0px;
    width: 50%;
    text-align: center;
    margin: auto;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

div #navigation {
    font-family: 'Open Sans Condensed', sans-serif;
    background: #ffffff;
}

div #header{
    color: #bbb;
    background: #ffffff;
    height: 3em;
}

.navbar-fixed {
  position: fixed;
  text-align: center;
  height: 3 em;
  width: 100%;
  top: -3em;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
